.admin-back {
  background-color: rgba(226, 226, 226, 0.589);
  background-size: 100vmax;
}

.brand-box {
  text-align: center;
}

.log-out-btn {
  display: inline-block;
}

.home-brand-resize {
  margin: 5px 5px 5px 5px;
}

.admin-home-title {
  font-size: 5vh;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
  display: table-cell;
  vertical-align: middle;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.btn-box {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.btn-warn {
  margin: 10px;
}

.btn-alert {
  margin: 10px;
}

.div-test {
  border: 1px solid black;
}

.list-group-item-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(66, 139, 202);
}

.checkbox-label {
  display: block;
}

.warning-send-final-btn {
  text-align: center;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
